.tag {
  border: 1px solid #dadada;
  cursor: pointer;
  text-decoration: none;
  background-color: #da4453;
  color: #fff;
  padding: 6px 10px;
  border-radius: 3px;
  transition: all 0.3s linear;
  margin-left: 10px;
  width: auto;
  &:hover {
    background-color: #444;
    color: #fff;
  }
}

.link:hover {
  color: #fff;
}
