@import "../../utils/scss_variables/media";
.indexContainer {
  background-color: #f2f2f2;
}

.content {
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #dadada;
  margin-bottom: 10px;
  & h1 {
    color: #444;
    font-weight: 700;
    &:hover {
      color: #da4453;
    }
  }
  @media ($screenSmall) {
    padding: 5px 50px;
  }
}

.btn {
  border-radius: 5px;
  background-color: #da4453;
  padding: 11px 13px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s linear;
  &:hover {
    background-color: #444;
  }
}

.readMore {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @media ($screenSmall) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  p {
    margin-bottom: 5px;
  }
}

.link {
  &:last-child {
    margin-left: 10px;
  }
  &:hover {
    color: #fff;
  }
}
