@import '../../../utils/scss_variables/media';
.navlink {
    color: black;
    padding: 10px 15px;
    border: lightgrey 1px solid;
    @media ($screenSmall) {
        color: black;
        padding: 10px 15px;
        border-radius: 50px;
        border: none;
        &:hover {
            background-color: red;
            color: white;
        }
        &:active {
            background: rgb(116, 233, 20);
            color: white;
        }
        &.active {
            background: rgb(116, 233, 20);
            color: white;
        }
    }
}