@import "../../utils/scss_variables/media";
.wrapper {
  margin-top: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #fff;
  & p {
    margin: 10px;
  }
  & hr {
    height: 2px;
    background-color: #000;
    margin: 10px;
  }
  @media ($screenSmall) {
    flex-direction: row;
    max-width: 1024px;
    justify-content: space-around;
  }
}

.avatar {
  width: 90%;
  margin-top: 10px;
  // max-width: 200px;
  height: auto;
  border-radius: 10px;
  border: #000 3px solid;
  @media ($screenSmall) {
    margin: 10px;
    width: 25%;
  }
}

.description {
  width: 95%;
  text-align: justify;
  h1 {
    // font-size: 60px;
    margin: 0.5rem;
  }
  @media ($screenSmall) {
    width: 70%;
  }
}
